@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ps3v9');
  src:  url('fonts/icomoon.eot?ps3v9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ps3v9') format('truetype'),
    url('fonts/icomoon.woff?ps3v9') format('woff'),
    url('fonts/icomoon.svg?ps3v9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
  content: "\e900";
}
.icon-love:before {
  content: "\e901";
}
.icon-Star:before {
  content: "\e902";
}
