.config-section__items {
    display: flex;
    gap: 10px;
  }
  
  .config-section__label {
    display: block;
    padding: 10px 20px;
  }
  
  .charact-section__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
  .charact-section__item {
    list-style-type: none;
  }