.reviews-section {
    gap: 25px;
  }
  .reviews-section__top {
    height: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .reviews-section__top-title {
    font-size: 24px;
  }
  .reviews-section__top-left {
    display: flex;
    gap: 10px;
  }
  .reviews-section__top-count {
    font-family: Inter-Bold;
    font-size: 24px;
  }
  .reviews-section__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .reviews-section__separator {
    height: 1px;
    margin-left: 170px;
    background-image: linear-gradient(
      to right,
      #fff 40%,
      var(--color-dark-grey) 40%
    );
    background-size: 8px 4px;
    background-repeat: repeat-x;
  }
  
  .review-item {
    display: flex;
    gap: 30px;
  }
  .review-item__img {
    height: 140px;
    border-radius: 100px;
  }
  .review-item__container-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .review-item__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .review-item__top-title {
    font-family: Inter-Bold;
    font-size: 20px;
  }
  .container-stars {
    display: flex;
  }
  .star::before {
    font-size: 30px;
    color: #ffd017;
  }
  .star-dark::before {
    color: var(--color-dark-grey);
  }
  .review-item__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }