.market-footer {
    background-color: var(--color-light-grey);
  }
  .market-footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  }
  .copyright {
    font-size: 14px;
  }