@font-face {
  font-family: Inter-Regular;
  src: url(../public/fonts/Inter-Regular.otf);
}
@font-face {
  font-family: Inter-Bold;
  src: url(../public/fonts/Inter-Bold.otf);
}
@font-face {
  font-family: Inter-Medium;
  src: url(../public/fonts/Inter-Medium.otf);
}
@font-face {
  font-family: Icomoon;
  src: url(../public/fonts/icomoon/fonts/icomoon.ttf);
}
:root {
  --color-white: #ffffff;
  --color-grey: #aaaaaa;
  --color-light-grey: #f2f2f2;
  --color-dark-grey: #989898;
  --color-black: #000000;
  --color-aqua: #008cf0;
  --color-carrot: #f36223;
  --color-dark-carrot: #da4a0c;
  --color-darkest-carrot: #a93a09;
  --color-gold: #ffd017;
}
* {
  font-family: Inter-Regular;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}
#root {
  background-color: #f8fafe;
  height: 100%;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Inter-Medium;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.title {
  font-family: Inter-Bold;
}
.font-bold {
  font-family: Inter-Bold;
}
.font-carrot {
  color: var(--color-carrot);
}
.font-grey {
  color: var(--color-grey);
}
.btn-light {
  border: 0;
  outline: 1px solid var(--color-dark-grey);
  border-radius: 4px;
  font-family: "Inter-Medium";
  color: var(--color-black);
  background-color: transparent;
}
.btn-carrot {
  border: 0;
  border-radius: 4px;
  color: var(--color-white);
  background: var(--color-carrot);
}
.btn-grey {
  border: 0;
  border-radius: 4px;
  color: var(--color-white);
  background: var(--color-dark-grey);
}
.btn-carrot:hover {
  background-color: var(--color-dark-carrot);
}
.btn-carrot:active {
  background-color: var(--color-darkest-carrot);
}
.radio-btn__input {
  display: none;
}
.radio-btn__label:hover {
  background-color: var(--color-light-grey);
}
.radio-btn__input:checked + label {
  outline: 2px solid var(--color-carrot);
}
.radio-btn__input:active + label {
  background-color: inherit;
  outline: 2px solid var(--color-darkest-carrot);
}
@media (max-width: 1499px) {
  .compar-section {
    display: none;
  }
  .rewiews-add-section__inner {
    padding: 0;
  }
}
@media (max-width: 1500px) and (min-width: 1024px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .product-page-content {
    gap: 40px;
  }
  .aside-advertising__iframe {
    width: 360px;
    height: 300px;
  }
  .review-item__img {
    height: 100px;
  }
  .star::before {
    font-size: 20px;
  }
}
@media (min-width: 360px) and (max-width: 1023px) {
  * {
    font-size: 14px;
  }
  #root {
    margin-top: 55px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .market-header {
    height: 55px;
  }
  .market-header__icon {
    font-size: 24px;
  }
  .market-header__icon-count {
    width: 12px;
    height: 12px;
    top: -5px;
    right: -3px;
    font-size: 7px;
  }
  .logo__img {
    height: 30px;
  }
  .logo__title {
    font-size: 32px;
  }
  .logo__title-carrot {
    font-size: 32px;
  }
  .product-page-top__title {
    font-size: 24px;
  }
  .product-page-content {
    flex-direction: column-reverse;
  }
  .aside-advertising {
    display: none;
  }
  .rewiews-add-form {
    gap: 15px;
  }
  .aside-base-info__add-to-card {
    font-size: 16px;
  }
  .rewiews-add-form__line-one {
    flex-direction: column;
    height: auto;
    gap: 15px;
  }
  .color-section__label {
    height: 60px;
    width: 60px;
    background-size: auto 50px;
  }
  .review-item {
    display: block;
  }
  .review-item__container-img {
    display: inline;
    float: left;
  }
  .review-item__img {
    height: 60px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .review-item__container-content {
    display: block;
  }
  .review-item__top {
    display: inline-flex;
  }
  .review-item__info {
    display: inline-flex;
  }
  .reviews-section__separator {
    margin-left: 0;
  }
  .form-control {
    width: 100%;
  }
  .market-footer__inner {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
  }
}
