@font-face {
  font-family: Inter-Regular;
  src: url(../fonts/Inter-Regular.otf);
}
@font-face {
  font-family: Inter-Bold;
  src: url(../fonts/Inter-Bold.otf);
}
@font-face {
  font-family: Inter-Medium;
  src: url(../fonts/Inter-Medium.otf);
}
@font-face {
  font-family: Icomoon;
  src: url(../fonts/icomoon.ttf);
}
:root {
  --color-white: #ffffff;
  --color-light-grey: #f2f2f2;
  --color-dark-grey: #989898;
  --color-black: #000000;
  --color-aqua: #008cf0;
  --color-carrot: #f36223;
  --color-dark-carrot: #da4a0c;
  --color-darkest-carrot: #a93a09;
  --color-gold: #ffd017;
}
* {
  font-family: Inter-Regular;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}
body {
  background-color: #f8fafe;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Inter-Medium;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.title {
  font-family: Inter-Bold;
}
.link {
  text-decoration: none;
  color: var(--color-aqua);
}
.link:hover {
  color: var(--color-carrot);
}
.link:active {
  color: var(--color-darkest-carrot);
}
.font-bold {
  font-family: Inter-Bold;
}
.btn-light {
  border: 0;
  outline: 1px solid var(--color-dark-grey);
  border-radius: 4px;
  font-family: "Inter-Medium";
  color: var(--color-black);
  background-color: transparent;
}
.btn-carrot {
  border: 0;
  border-radius: 4px;
  color: var(--color-white);
  background: var(--color-carrot);
}
.btn-grey{
  border: 0;
  border-radius: 4px;
  color: var(--color-white);
  background: var(--color-dark-grey);
}
.btn-carrot:hover {
  background-color: var(--color-dark-carrot);
}
.btn-carrot:active {
  background-color: var(--color-darkest-carrot);
}
.radio-btn__input {
  display: none;
}
.radio-btn__label:hover {
  background-color: var(--color-light-grey);
}
.radio-btn__input:checked + label {
  outline: 2px solid var(--color-carrot);
}
.radio-btn__input:active + label {
  background-color: inherit;
  outline: 2px solid var(--color-darkest-carrot);
}
.market-header {
  display: flex;
  align-items: center;
  height: 80px;
  position: sticky;
  background-color: inherit;
  top: 0;
  overflow-y: hidden;
  z-index: 1;
}
.market-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.market-header__icon-container {
  position: relative;
  display: flex;
  gap: 20px;
}
.market-header__icon-cart{
  position: relative;
}
.market-header__icon-love{
  position: relative;
}
.market-header__icon {
  font-size: 30px;
  color: var(--color-dark-grey);
}
.market-header__icon:hover {
  color: var(--color-carrot);
}
.market-header__icon:active {
  color: var(--color-darkest-carrot);
}
.market-header__icon-count {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  font-size: 14px;
  background-color: var(--color-carrot);
  color: var(--color-white);
  font-family: "Inter-Bold";
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__title {
  display: inline;
  color: var(--color-black);
  font-size: 44px;
  font-weight: bold;
}
.logo__title-carrot {
  font-size: 44px;
  color: var(--color-carrot);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 35px;
}

.product-page__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-page-top__title {
  font-size: 32px;
}

.product-page-gallery {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-page-gallery__item {
  max-height: 387px;
  min-height: 272px;
  width: 100%;
  height: 25vw;
}

.product-page-content {
  display: flex;
  gap: 100px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.color-section__color-items {
  display: flex;
  gap: 10px;
}

.color-section__label {
  display: block;
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: auto 60px;
  background-repeat: no-repeat;
}
.color-section__label[for="color_1"] {
  background-image: url(../images/color-1.webp);
}
.color-section__label[for="color_2"] {
  background-image: url(../images/color-2.webp);
}
.color-section__label[for="color_3"] {
  background-image: url(../images/color-3.webp);
}
.color-section__label[for="color_4"] {
  background-image: url(../images/color-4.webp);
}
.color-section__label[for="color_5"] {
  background-image: url(../images/color-5.webp);
}
.color-section__label[for="color_6"] {
  background-image: url(../images/color-6.webp);
}

.config-section__items {
  display: flex;
  gap: 10px;
}

.config-section__label {
  display: block;
  padding: 10px 20px;
}

.charact-section__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
.charact-section__item {
  list-style-type: none;
}
.charact-section__item:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: var(--color-dark-grey);
  margin-right: 10px;
}

.reviews-section {
  gap: 25px;
}
.reviews-section__top {
  height: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.reviews-section__top-title {
  font-size: 24px;
}
.reviews-section__top-left {
  display: flex;
  gap: 10px;
}
.reviews-section__top-count {
  font-family: Inter-Bold;
  font-size: 24px;
}
.reviews-section__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.reviews-section__separator {
  height: 1px;
  margin-left: 170px;
  background-image: linear-gradient(
    to right,
    #fff 40%,
    var(--color-dark-grey) 40%
  );
  background-size: 8px 4px;
  background-repeat: repeat-x;
}

.review-item {
  display: flex;
  gap: 30px;
}
.review-item__img {
  height: 140px;
  border-radius: 100px;
}
.review-item__container-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.review-item__top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review-item__top-title {
  font-family: Inter-Bold;
  font-size: 20px;
}
.container-stars {
  display: flex;
}
.star::before {
  font-size: 30px;
  color: #ffd017;
}
.star-dark::before {
  color: var(--color-dark-grey);
}
.review-item__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.compar-section__table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid var(--color-dark-grey);
}
.compar-section__th {
  border: 1px solid var(--color-dark-grey);
  padding: 10px;
}
.compar-section__td {
  border-left: 1px solid var(--color-dark-grey);
  border-right: 1px solid var(--color-dark-grey);
  padding: 10px;
}
.compar-section__tr:hover .compar-section__td {
  background: var(--color-light-grey);
}

.aside-base-info {
  padding: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: var(--color-white);
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.aside-base-info__price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aside-base-info__old-priсe-container {
  display: flex;
  align-items: center;
  position: relative;
}
.aside-base-info__icon-love::before {
  position: absolute;
  color: var(--color-dark-grey);
  font-size: 20px;
  top: 0;
  right: 0;
}
.aside-base-info__icon-love:hover::before {
  color: var(--color-carrot);
}
.aside-base-info__icon-love:active::before {
  color: var(--color-darkest-carrot);
}

.aside-base-info__old-priсe-text {
  text-decoration-line: line-through;
  color: var(--color-dark-grey);
}
.aside-base-info__sale {
  width: 47px;
  height: 24px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background: var(--color-carrot);
  border-radius: 500px;
}
.aside-base-info__actual-priсe-text {
  font-size: 32px;
  font-family: Inter-Medium;
}
.aside-base-info__delivery {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aside-base-info__add-to-card {
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.aside-base-info__add-to-card-icon {
  font-size: 20px;
}

.aside-advertising {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aside-advertising__text {
  font-size: 14px;
  color: var(--color-dark-grey);
}
.aside-advertising__container-iframes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.aside-advertising__iframe {
  height: 300px;
  width: 420px;
  border: 1px dashed var(--color-dark-grey);
}

.rewiews-add-section__inner {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 170px;
}
.rewiews-add-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.rewiews-add-form__line-one {
  display: flex;
  gap: 40px;
  height: 49px;
}
.form-control-container {
  position: relative;
}
.rewiews-add-form__people-name {
  flex-grow: 1;
}
.rewiews-add-form__people-name-input {
  width: 100%;
}
.form-control {
  padding: 15px 20px;
  min-width: 175px;
  background-color: inherit;
  border: 1px solid var(--color-dark-grey);
}
.form-control::placeholder {
  color: var(--color-dark-grey);
}
.form-control:hover,
.form-control:focus {
  border: 1px solid var(--color-black);
  outline: 0;
}
.form-control_invalid {
  border: 1px solid var(--color-dark-carrot);
}
.form-control__error {
  background-color: var(--color-dark-carrot);
  color: var(--color-white);
  padding: 10px 20px;
  font-size: 12px;
  position: absolute;
  display: none;
  top: 4em;
  width: 100%;
  left: 0;
}
.form-control__error_visible{
  display: block;
}
.form-control[type="number"]::-webkit-outer-spin-button,
.form-control[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.form-control[type="number"],
.form-control[type="number"]:hover,
.form-control[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}
.rewiews-add-form__textarea {
  width: 100%;
  height: 190px;
  resize: none;
}
.rewiews-add-form__submit {
  padding: 10px 20px;
}

.market-footer {
  background-color: var(--color-light-grey);
}
.market-footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  padding: 30px 0;
}
.copyright {
  font-size: 14px;
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .product-page-content {
    gap: 40px;
  }
  .aside-advertising__iframe {
    width: 360px;
    height: 300px;
  }
  .review-item__img {
    height: 100px;
  }
  .star::before {
    font-size: 20px;
  }
  .rewiews-add-section__inner {
    padding: 0;
  }
  .compar-section {
    display: none;
  }
}
