@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?21ekm1");
  src: url("fonts/icomoon.eot?21ekm1#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?21ekm1") format("truetype"),
    url("fonts/icomoon.woff?21ekm1") format("woff"),
    url("fonts/icomoon.svg?21ekm1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-love-fill:before {
  content: "\e903";
}
.icon-basket:before {
  content: "\e900";
}
.icon-love:before {
  content: "\e901";
}
.icon-Star:before {
  content: "\e902";
}
