.compar-section__table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid var(--color-dark-grey);
}
.compar-section__th {
  border: 1px solid var(--color-dark-grey);
  padding: 10px;
}
.compar-section__td {
  border-left: 1px solid var(--color-dark-grey);
  border-right: 1px solid var(--color-dark-grey);
  padding: 10px;
}
.compar-section__tr:hover .compar-section__td {
  background: var(--color-light-grey);
}
