.market-header {
  display: flex;
  align-items: center;
  height: 80px;
  position: sticky;
  background-color: inherit;
  top: 0;
  overflow-y: hidden;
  z-index: 1;
}
.market-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.market-header__icon-container {
  position: relative;
  display: flex;
  gap: 20px;
}
.market-header__icon-cart {
  position: relative;
}
.market-header__icon-love {
  position: relative;
}
.market-header__icon {
  font-size: 30px;
  color: var(--color-dark-grey);
}
.market-header__icon:hover::before {
  color: var(--color-carrot);
}
.market-header__icon:active::before {
  color: var(--color-darkest-carrot);
}
.market-header__icon-count {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  font-size: 14px;
  background-color: var(--color-carrot);
  color: var(--color-white);
  font-family: "Inter-Bold";
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__title {
  display: inline;
  color: var(--color-black);
  font-size: 44px;
  font-weight: bold;
}
.logo__title-carrot {
  font-size: 44px;
  color: var(--color-carrot);
}
