.aside-base-info {
  padding: 20px;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: var(--color-white);
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.aside-base-info__price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aside-base-info__old-priсe-container {
  display: flex;
  align-items: center;
  position: relative;
}
.aside-base-info__icon-love::before {
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 0;
}
.icon-love-fill::before {
  color: var(--color-carrot);
}
.icon-love::before {
  color: var(--color-dark-grey);
}
.aside-base-info__icon-love:hover::before {
  color: var(--color-carrot);
}
.aside-base-info__icon-love:active::before {
  color: var(--color-darkest-carrot);
}

.aside-base-info__old-priсe-text {
  text-decoration-line: line-through;
  color: var(--color-dark-grey);
}
.aside-base-info__sale {
  width: 47px;
  height: 24px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background: var(--color-carrot);
  border-radius: 500px;
}
.aside-base-info__actual-priсe-text {
  font-size: 32px;
  font-family: Inter-Medium;
}
.aside-base-info__delivery {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aside-base-info__add-to-card {
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.aside-base-info__add-to-card-icon {
  font-size: 20px;
}
