.product-page__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-page-top__title {
  font-size: 32px;
}

.product-page-gallery {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
}
.product-page-gallery__item {
  max-height: 387px;
  min-height: 272px;
  width: 100%;
  height: 25vw;
}

.product-page-content {
  display: flex;
  gap: 100px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.charact-section__item:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: var(--color-dark-grey);
  margin-right: 10px;
}