.rewiews-add-section__inner {
  margin-top: 30px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 170px;
}
.rewiews-add-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.rewiews-add-form__line-one {
  display: flex;
  gap: 40px;
  height: 49px;
}
.form-control-container {
  position: relative;
}
.rewiews-add-form__people-name {
  flex-grow: 1;
}
.rewiews-add-form__people-name-input {
  width: 100%;
}
.form-control {
  padding: 15px 20px;
  min-width: 175px;
  background-color: inherit;
  border: 1px solid var(--color-dark-grey);
}
.form-control::placeholder {
  color: var(--color-dark-grey);
}
.form-control:hover,
.form-control:focus {
  border: 1px solid var(--color-black);
  outline: 0;
}
.form-control_invalid {
  border: 1px solid var(--color-dark-carrot);
}
.form-control__error {
  background-color: var(--color-dark-carrot);
  color: var(--color-white);
  padding: 10px 20px;
  font-size: 12px;
  position: absolute;
  top: 4em;
  width: 100%;
  left: 0;
}
.form-control[type="number"]::-webkit-outer-spin-button,
.form-control[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.form-control[type="number"],
.form-control[type="number"]:hover,
.form-control[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}
.rewiews-add-form__textarea {
  width: 100%;
  height: 190px;
  resize: none;
}
.rewiews-add-form__submit {
  padding: 10px 20px;
}
