.aside-advertising {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}
.aside-advertising__text {
  font-size: 14px;
  color: var(--color-dark-grey);
}
.aside-advertising__container-iframes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
