.color-section__color-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.color-section__label {
  display: block;
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: auto 60px;
  background-repeat: no-repeat;
}
